<nav>
  <%= link_to 'Book Search', root_path %>
</nav>
<cover-l id="search" data-controller="search">
  <div class="container">
    <stack-sm>
      <h1>Open Search Books!</h1>
      <%= form_tag search_books_path, method: :get do %>
        <%= search_field_tag :q, params[:q], placeholder: "Search books...", data: { search_target: "input", action: "input->search#change" } %>
      <% end %>
      <h1></h1>
      <% if @response.present? %>
        <stack-l recursive="true">
          <ul class="unstyled" data-search-target="results" id="book-search-results">
            <% @response.dig("hits", "hits").each do |hit| %>
              <li>
                <stack-sm>
                  <div>
                    <%= link_to hit.dig("_source", "name"), "/books/#{hit["_id"]}" %>
                    <span>by <%= hit.dig("_source", "author") %>, </span>
                    <span><%= hit.dig("_source", "published_at") %></span>
                  </div>

                  <% if hit.dig("highlight").present? %>
                    <div class="color:muted">
                      <small>
                        <% hit.dig("highlight", "description").each do |hightlight| %>
                          <%= sanitize hightlight %>
                        <% end %>
                      </small>
                    </div>
                  <% end %>
                </stack-sm>
              </li>
            <% end %>
          </ul>
        </stack-l>
      <% end %>
    </stack-sm>
  </div>
</cover-l>
